services:
  ngnix-reverse-proxy:
    image: jlesage/nginx-proxy-manager:v25.06.1
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - '80:8080'
      - '81:8081'
      - '443:4443'
    volumes:
      - ./npm_config/data:/config
