version: '3.4'
services:
  grafana:
    image: grafana/grafana:11.6.11
    container_name: grafana
    user: 0:0
    #ports:
    #  - 3000:3000
    volumes:
      - ./grafana_data/grafana:/var/lib/grafana
    restart: unless-stopped
