services:
  web:
    image: nginx:1.29.5-alpine-slim
    volumes:
      #- /var/www/html:/var/www/html:z,ro
      - /var/www/html:/usr/share/nginx/html:z,ro
      - ./webshare.conf:/etc/nginx/conf.d/default.conf
    ports:
       - "2080:80"
    environment:
     #- NGINX_HOST=web.example.com
     - NGINX_PORT=80
