version: '3'
services:
  influxdb:
    image: influxdb:2.8-alpine
    container_name: influxdb2
    #environment:
      #- DOCKER_INFLUXDB_INIT_MODE=setup
      #- DOCKER_INFLUXDB_INIT_USERNAME=myusername
      #- DOCKER_INFLUXDB_INIT_PASSWORD=passwordpasswordpassword
      #- DOCKER_INFLUXDB_INIT_ORG=myorg
      #- DOCKER_INFLUXDB_INIT_BUCKET=mybucket
      #- DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=mytoken
    env_file:
      - .env
    volumes:
      # Mount for influxdb data directory and configuration
      - ./influxdb_data:/var/lib/influxdb2:rw
    #ports:
    #  - "8086:8086"
    restart: unless-stopped
