version: '3'

services:
  haproxy:
    image: haproxy:3.3.4
    container_name: haproxy
    ports:
      - "80:80"
      - "8404:8404"  # stats
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    restart: unless-stopped
