version: '3.4'
services:
  influxdb:
    image: influxdb:2.8-alpine
    container_name: influxdb
    environment:
      - INFLUXDB_DB=influx
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin
    ports:
      - '8086:8086'
    volumes:
      - ./influxdb_data:/var/lib/influxdb
    restart: unless-stopped
